{% extends "base.html" %}
{% load render from desc_render %}
{% load cache %}

{% block title %}Albums{% endblock %}

{% block content %}

<small class="pull-right hidden-phone">
	{{ object_list.render }}
</small>
<h1>Albums:</h1>

{% for album in object_list.object_list %}
{% cache 3600 album_list album.pk %}
<div class="well">
<a href="{{ album.get_absolute_url }}" style="text-decoration: none; color: inherit;">
<div class="media">
	{% if album.available_cover %}
	<img class="media-object pull-left" src="{{ album.available_cover.thumbnail_image.url }}"/>
	{% endif %}
	<div class="media-body">
		<blockquote>			
			<h1 class="media-heading">{{ album.title }}</h1>
			<small>{{ album.date_added }}</small>
			<p>{{ album.description|render }}</p>
		</blockquote>
	</div>
</div>
</a>
</div>
{% endcache %}
{% endfor %}

<div align="right">
	<small>
		{{ object_list.render }}
	</small>
</div>
{% endblock %}
