{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<br/>
<div class="pull-right">
<p>Manage your profile:</p>
<ul>
<li><a href="{% url 'account_email' %}"><i class="icon-envelope"></i> Manage E-mail</a></li>
<li><a href="{% url 'socialaccount_connections' %}"><i class="icon-comment"></i> Account Connections</a></li> 
	{% if user.is_staff %}
	<li><a href="{% url 'admin:index' %}"><i class="icon-wrench"></i> Admin</a></li>
	{% endif %}
<li><a href="{% url 'account_logout' %}"><i class="icon-off"></i> Sign Out</a></li>
</ul>
</div>

<div class="media">
	<img class="media-object pull-left" style="width: 64px; height: 64px;" src="/static/img/glyphicons-halflings.png" data-src="holder.js/64x64">
	<div class="media-body">
		<blockquote>
			<h1 class="media-heading">{{ user.name }}</h1>
			<small>Your profile title.</small>
		</blockquote>
	</div>
</div>

You have no profile configured.


{% endblock %}
