{% extends "base.html" %}
{% load render from desc_render %}

{% block head_title %}Games{% endblock %}

{% block content %}
<small class="pull-right">
	Page {{ games_list.number }} of {{ games_list.paginator.num_pages }}
	{% if games_list.has_previous or games_list.has_next %}
	    &nbsp;
	    {% if games_list.has_previous %}<a href="?page={{ games_list.previous_page_number }}">{% endif %}&laquo; Previous{% if games_list.has_previous %}</a>{% endif %}
	    |
	    {% if games_list.has_next %}<a href="?page={{ games_list.next_page_number }}">{% endif %}Next &raquo;{% if games_list.has_next %}</a>{% endif %}
	{% endif %}
</small><br/>
<h1 align="center">Games</h1>

{% for game in games_list %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container pull-right"><small>
			By {{ game.reporter.name }} on {{ game.created_date }}
			<br/>
			<div align="right">rating</div>
		</small></div>
		<h2 style="margin: 10px 10px 10px 0px;"><a href="{% url 'game' game.pk %}" style="text-decoration: none; color: inherit;">{{ game.title }}</a></h2>
		{% if game.short %}{{ game.short }}{% endif %}
		<a href="{% url 'company' game.company.pk %}" style="color: inherit;"class="pull-right" style="padding: 0px; margin: 0px;">Developer: {{ game.company.title }}</a>
	</div>
	<p class="pull-right" style="padding: 0px; margin: 0px;">
	{% for tag in game.tags.all %}
		<span class="label">{{tag}}</span>
	{% endfor %}
	</p>
</div>
{{ game.description | render }}
<br/>
[<a href="{% url 'game' game.pk %}">Read more... {{ game.comments.count }} Comments</a>]
<br/>
<br/>
{% endfor %}

<div align="center">
	<small>
		Page {{ games_list.number }} of {{ games_list.paginator.num_pages }}
		{% if games_list.has_previous or games_list.has_next %}
		    &nbsp;
		    {% if games_list.has_previous %}<a href="?page={{ games_list.previous_page_number }}">{% endif %}&laquo; Previous{% if games_list.has_previous %}</a>{% endif %}
		    |
		    {% if games_list.has_next %}<a href="?page={{ games_list.next_page_number }}">{% endif %}Next &raquo;{% if games_list.has_next %}</a>{% endif %}
		{% endif %}
	</small>
</div>
{% endblock %}
