{% extends "base.html" %}
{% load render from desc_render %}
{% load cache %}

{% block head_title %}HP-TLGT{% endblock %}

{% block content %}
<small class="pull-right hidden-phone">
	{{ news_list.render }}
</small>
<a class="btn" href="{% url 'news_new' %}">Add News</a>
<h1 align="center">News</h1>

{% for news in news_list.object_list %}
{% cache 3600 news_list news.pk news.updated_date %}
<div class="navbar">
	<div class="navbar-inner">
		{% if news.get_game.album.available_cover %}
		<a href="{% url 'news' news.pk %}"><img class="pull-left" style="margin: 10px 10px 10px 0px;" src="{{ news.get_game.album.available_cover.thumbnail_image.url }}"/></a>
		{% endif %}		
		<div class="container pull-right"><small>
			By {{ news.reporter.name }} on {{ news.created_date|date:"SHORT_DATETIME_FORMAT" }}
			<br/>
			<div align="right">rating</div>
		</small></div>
		<h2 style="margin: 10px 10px 10px 0px;"><a href="{% url 'news' news.pk %}" style="text-decoration: none; color: inherit;">{{ news.title }}</a></h2>
		{% if news.short %}{{ news.short }}{% endif %}
	</div>
	<p class="pull-right" style="padding: 0px; margin: 0px;">
	{% for tag in news.tags.all %}
		<span class="label">{{tag}}</span>
	{% endfor %}
	</p>
	{% if news.get_game %}
	<h4>Related game: <small><a href="{{ news.get_game.get_absolute_url }}">{{ news.get_game.title}}</a></small></h4>
	{% endif %}
</div>
{{ news.description | render }}

<br/>
[<a href="{% url 'news' news.pk %}">Read more... {{ news.comments.count }} Comments</a>]
<br/>
<br/>
{% endcache %}
{% endfor %}

<div align="right">
	<small>
		{{ news_list.render }}
	</small>
</div>
{% endblock %}
